#waybar {
    font-family: "SourceHanSansCN-Regular";
    font-size: 16px;
}

#window {
    padding: 0 6px;
}

window#waybar {
    border: none;
    border-radius: 20px;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
    color: rgba(171, 178, 191, 1);
    background: #363945; 
} 

#workspaces {
    margin: 0px 0px;
    background-color: #181a1f;
    border-radius: 20px;
}

#workspaces button {
    padding: 0 8px;
    color: #565f89;
    border: 3px solid rgba(9, 85, 225, 0);
    border-radius: 10px;
    min-width: 33px;
}

#workspaces button.visible {
    color: #a9b1d6;
}

#workspaces button.focused {
    border-top: 3px solid #7aa2f7;
    border-bottom: 3px solid #7aa2f7;
}

#workspaces button.urgent {
    background-color: #e06c75;
    color: white;
}

#workspaces button:hover {
    box-shadow: inherit;
    border-color: #c678dd;
    color: #c678dd;
}

#workspaces button.focused {
    color: #7aa2f7;
}
#workspaces button.focused:hover {
    color: #c678dd;
}


#temperature,
#cpu,
#memory,
#tray,
#mode,
#battery,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#sway-language,
#backlight {
    margin: 0px 0px 0px 5px;
    padding: 0 5px;
}


#clock {
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 2px;
    border-radius: 26px;
    transition: none;
    color: #f8f8f2;
    background: #181a1f;
}

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
